body {
    background-color: grey;
}

h1 {
    font-family: 'Aleo', serif;
}

.logo-text {
    font-family: 'Magra', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.navigation {
    font-family: 'Red Hat Text', sans-serif;
}

