body {
    background-color: grey;
}

h1 {
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-size: 80px;
    color: #fff;
}

h2 {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
}

h3 {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 35px;
    color: #0D606F;
}

p {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    color: #fff;
}

nav ul {
    
    list-style-type: none;
}

nav a {
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.logo-text {
    font-family: 'Magra', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.primary-button {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;

}

.input-button {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.secondary-button {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.step-descripton {
    font-family: 'Aleo', serif;
    font-weight: 400;
    font-size: 20px;
    color: #0D606F;
}

.country {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
}

.story-description {
    color: #0D606F;
}

.read-more {
    text-decoration: none;
    font-weight: 700;
    color: #0D606F;
}

.footer-info {
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}